
.slider{
   width: 818px;
    height: 150px;
    background: gray;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid black;

}
.carousel-hider {
    width: 600px;
    overflow: hidden;
    float: left;
}

.slider-list {
    list-style: none;
    width: 10000px;
}

.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}

.carousel-element img {
    max-width: 100px;
}

.slider-arrow-left, .slider-arrow-right {
    float: left;
}

.slider-list {
    list-style: none;
    width: 10000px;
    padding: 0px;
}
.slider-arrow-left, .slider-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 5px;
    margin-top: 50px;
    width: 70px;
}

.slider-arrow-left:hover, .slider-arrow-right:hover {
    cursor: pointer;
    background-color: grey;
}

.slider-arrow-left {
    margin-right: 25px;
}

.slider-arrow-right {
    margin-left: 25px;
}

.slider-list {
    list-style: none;
    width: 10000px;
    padding: 0px;
    position: relative;
}