* {
    margin: 0;
    padding: 0;
}


body{
    font: normal 13pt Times;
    background: #E9E9E9;


}

.wrapper {
    width: 512px;
    margin: 0 auto;
    background: #E9E9E9;
    padding: 30px 50px 72px 50px;
    border-color: #222930;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius:5px;

}
.learning_reasons {
    border-top: 1px solid #7a7a7a;
    border-bottom: 1px solid #7a7a7a;
}

.contacts {
    border-bottom: 1px solid #7a7a7a;
}

.photo > img{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 15px;
    width: 135px;
    height: 130px;
}
.photo{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
h1 {
    font: bold 23px Times;
    text-align: center;

}

h3{
    text-indent: 14px; /* Отступ первой строки */
    font: normal 13pt Times;
    margin-top: 15px;
    margin-bottom: 15px;
}
p{
    text-indent: 14px; /* Отступ первой строки */
    font-size: 16px;


}

#work{
    margin-top: 0;
}

#contact_phone #phone_number{
    margin-bottom: 10px;
}

#social_profile #feedback{
    margin-bottom: 11px;
}

#social_network{
    margin-bottom: 20px;
}

.profile_list{
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 19px;
}
